<html>
    <head>
        {% if title %}
        <title>{{ title }} - Шпацыр</title>
        {% else %}
        <title>Шпацыр</title>
        {% endif %}
    </head>
    <body>
        <center><div>
            <a href="/index">Домашняя</a>
            <a href="/select-route">Список маршрутов</a>
            <a href="/select-point">Посмотреть список достопримечательностей</a>
            <a href="/add-point">Добавить точку</a>
            <a href="/create-route">Создать маршрут</a>
        </div> 
        {% block content %}{% endblock %}</center>
    </body>
</html>